<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'vets')}">
<head>
    <meta charset="UTF-8">
    <title>List of Vets</title>
</head>
<body>
    <h2 th:text="#{vets.list}">List of Vets ...</h2>

    <table id="vets" class="table table-striped">
        <thead>
        <tr>
            <th scope="col" th:text="#{firstName} + ' ' + #{lastName}">Name</th>
            <th scope="col" th:text="#{specialities}">Specialities</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="vet : ${vets}">
            <td th:text="${vet.firstName + ' ' + vet.lastName}">Jon Buck</td>
            <td><span th:each="speciality : ${vet.specialities}"
                      th:text="${speciality.description + ' '}"/>
                <span th:if="${vet?.specialities?.size() == 0}" th:text="#{none}">none</span>
            </td>
        </tr>
        </tbody>
    </table>
</body>
</html>